<h1 class="page-header"><%= @article.title %></h1>

<p class="article_body"><%= @article.body %></p>

<div class="modifier-btns">
  <%= link_to "<button class='edit-btn'>Edit</button>".html_safe, 
        edit_article_path(@article) %>
  <span> | <span>
  <%= link_to "<button class='del-btn'>Delete</button>".html_safe, 
        article_path(@article), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
</div>

<hr />
<h2 class="comment-header">Comments</h2>
<% if @article.comments.count != 0 %>
  <%= render @article.comments %>
<% else %>
  <p class="no-comment">No comments to display</p>
<% end %>
<%= render 'comments/form' %>